body {
	margin: 0;
	font-family: sans-serif;
	color: #fff;
	background-color: #222;
	text-align: center;
}
.App {
	width: 960px;
	margin: 0 auto;
}
h1 {
	color: rgb(208, 255, 0);
	font-size: 3rem;
	letter-spacing: 3px;
}
button {
	background-color: transparent;
	color: #ccc;
	border: 1px solid #ccc;
	font-size: 1.3rem;
	padding: 0.8rem;
	border-radius: 1rem;
	margin: 0 1rem;
	cursor: pointer;
	transition: all 0.3s;
}
button:hover {
	color: #fff;
	border-color: #fff;
}
.content {
	text-align: left;
}
.card {
	padding: 0.5rem 1rem;
	background-color: #1b1b1b;
	margin: 1rem 0;
	border-radius: 1rem;
}
.card p {
	margin: 0.25rem 0;
	color: #999;
}
.card h3 {
	margin: 0.5rem 0;
	color: #ffff57;
}
